html {
    box-sizing: border-box;
}
body {
    font-family: "Bitter", sans-serif;
    background-image: url("image/royal-sundance-papers-bright-white-linen.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*start dog logo*/
/*img {*/
/*    justify-items: center;*/
/*}*/
.center {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}
h1 {
    display: block;
    text-align: center;
    font-family: 'Bitter', serif;
    color: #654321;
    justify-content: center;
    text-decoration: underline;
    text-align: center;
}
h2, h4, label {
    display: block;
    text-align: center;
    font-family: 'Bitter', serif;
    color: #654321;
    justify-content: center;
    text-align: center;
}
h3{
    font-size: .7em;
    font-family: 'Bitter', serif;
    color: #654321;
}
hr {
    background-color: #654321;
    border: solid 1px #654321;
    height: .25em !important;
}
/*Cup of Java Circles*/
#roast-selection {
    color: #140b08;
    font-family: 'Bitter', serif;
    /*background: #140b08;*/
    /*align-items: center;*/
    /*border-radius: 100%;*/
    /*line-height: normal;*/
}
.cups {
    display: inline-block;
}
.cupOfJo1 {
    border: 6px solid #847f7d;
    border-inline-color: #654321;
    background-color: #a06e39;
    border-radius: 50%;
    height:45px;
    width:45px;
}
.cupOfJo2 {
    border: 6px solid #847f7d;
    border-inline-color: #432822;
    background-color: #432822;
    border-radius: 50%;
    height:45px;
    width:45px;
}
.cupOfJo3 {
    border: 6px solid #847f7d;
    border-inline-color: #654321;
    background-color: #140b08;
    border-radius: 50%;
    height:45px;
    width:45px;
}
.cupOfJo4 {
    border: 6px solid #847f7d;
    border-inline-color: #654321;
    background-color: #432822;
    border-radius: 50%;
    height:45px;
    width:45px;
}
.circle-text{
    margin-left: 15px;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}
td, th, button {
    border: 1px solid black;
    padding: 5px 10px;
    font-family: 'Bitter', serif;
    color: #654321;
}
button:hover{
    cursor: pointer;
}
.main {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: .5em auto 0 auto;
}
.coffee-card {
    max-height: 245px;
}
.coffeeType{
    width: 100%;
    display: flex;
    justify-content: center;
}
.coffeeType>h4{
    margin: 0 0 0 12px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
}
.availableCoffeesSpot{
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#coffeesSpots{
    margin-right: 2em;
}
.coffeeWord {
    font-family: 'Bitter', sans-serif;
    height: 100%;
    width: 30%;
    font-size: .5em;
}
.dateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: auto;
}
#applyDate{
    margin: .1em 0;
}
#seasons{
    max-width: 75%;
    margin: auto;
    font-size: .5em;
}
.coffeeInput {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    width: 90%;
    margin: auto;
}
#customCoffeeButton {
    margin: auto 0;
    font-size: .5em;
}
.companyProduct {
    height: 100%;
    width: 40%
}
.cupOfCoffee{
    width: 20%;
    height: 40%;
    margin: auto;
    /*background-image: url("image/coffeemug.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}
.footer {
    /*height: 28vh; for mobile*/
    height: 30vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    max-width: 100%;
    max-height: 100%;
    height: 235px;
}
.social{
    color: aliceblue;
    background-color: #654321;
    margin-right: .5em;
    border: 1px solid #654321;
    border-radius: 100px;
}
.fab{
    font-size: 1.3em;
}
.socialMedia{
    color: #654321;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 200px;
    width: 85%;
    height: 35%;
    margin: auto;
    padding: 1em;
}
a{
    text-decoration: none;
    color: #654321;
}
.followUsArea{
    height: 5vh;
    width: 80vw;
    margin: auto;
}
#coffeeName {
    padding-left: 1em;
}
input {
    width: 60px;
}
.coffeeMug {
    margin: auto;
    height: 100%;
    width: 100%;
}
span{
    font-size: 9px;
}
.socialText{
    font-size: .5em;
}
.coffeeInput>label{
    font-size: .5em;
}
select{
    width: 60px;
}
h2{
    font-size: 16px;
}
#dogLogo{
    width: 40%;
}
.coffeeType>h4, h4{
    font-size: 12px;
}
@media screen and (min-width: 550px){
    span{
        font-size: 14px;
    }
    .coffeeType>h4, h4{
        font-size: 16px;
    }
    h2{
        font-size: 24px;
    }
    #dogLogo{
        width: 25%;
    }
    .cupOfJo1 {
        border: 8px solid #847f7d;
        border-inline-color: #654321;
        background-color: #a06e39;
        border-radius: 50%;
        height:85px;
        width:85px;
    }
    .cupOfJo2 {
        border: 8px solid #847f7d;
        border-inline-color: #432822;
        background-color: #432822;
        border-radius: 50%;
        height:85px;
        width:85px;
    }
    .cupOfJo3 {
        border: 8px solid #847f7d;
        border-inline-color: #654321;
        background-color: #140b08;
        border-radius: 50%;
        height:85px;
        width:85px;
    }
    .cupOfJo4 {
        border: 8px solid #847f7d;
        border-inline-color: #654321;
        background-color: #432822;
        border-radius: 50%;
        height:85px;
        width:85px;
    }
    h3{
        font-size: 1.05em;
        font-family: 'Bitter', serif;
        color: #654321;
    }
    .footer{
        height: 50vh;
    }
    .coffeeWord{
        font-size: 1em;
    }
    .logo{
        height: 100%;
    }
    .socialText{
        font-size: 1em;
    }
    .availableCoffeesSpot{
        padding-top: .25em;
    }
    .coffeeInput>label{
        font-size: 1em;
    }
    select{
        width: 130px;
    }
    input {
        width: 165px;
    }
    #customCoffeeButton {
        font-size: 1em;
    }
    #seasons{
        font-size: 1em;
    }
    #applyDate{
        margin-bottom: .75em;
    }
    .main {
        margin: auto;
    }
    #setTheDate{
        margin-bottom: 1em;
    }
}